<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- product_detail.html -->
    <h1>{{ product.productname }}</h1>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    {% if product.image1 %}
    <img src="data:image/png;base64,{{ product.image|b64encode|safe }}" alt="Product Image 1">
    {% endif %}
    {% if product.image2 %}
    <img src="data:image/png;base64,{{ product.image2|b64encode|safe }}" alt="Product Image 2">
    {% endif %}
    {% if product.image3 %}
    <img src="data:image/png;base64,{{ product.image3|b64encode|safe }}" alt="Product Image 3">
    {% endif %}

</body>

</html>